* {
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
    overflow: hidden;
}

.section {
    display: flex;
}

.sidebar {

    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    color: #ffffff;
    padding-top: 0px;
    border: 1px solid #918484;
}

.sidebar-header {
    color: #ffffff;
    background: rgb(255, 222, 0);
    background: linear-gradient(180deg, rgba(255, 222, 0, 1) 0%, rgba(255, 160, 6, 1) 39%, rgba(255, 131, 9, 1) 68%);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.img-slaca {
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.img-slaca img {
    height: 170px;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar-nav .navigation .navigation-item {

    color: black;
    padding: 5px 0px 10px 20px;
    border-bottom: 1px solid #888;
    width: 100%;
    position: relative;
}

.navigation-item:hover {
    background-color: #fb8b0a1a;
    cursor: pointer;
}

.navigation-item:hover::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 5px;
    height: 100%;
    background: rgb(255, 222, 0);
    background: linear-gradient(180deg, rgba(255, 222, 0, 1) 0%, rgba(255, 160, 6, 1) 39%, rgba(255, 131, 9, 1) 68%);
}

.box {
    background-color: #e78d6331;
    display: flex;
    justify-content: space-between;
    padding: 6px 15px;
    height: 65px;
    margin: 0 auto;

}

.box-1,
.box-2,
.box-3 {
    color: #000;
}

.box-1 {
    display: flex;
    width: 700px;
    justify-content: space-between;
    flex-direction: column;
}

.box-1 .title {
    font-size: 13px;
}

.box-1 .subtitle {
    font-size: 18px;
}

.box-1 .content-text {
    font-size: 13px;
}

.box-2 {
    display: flex;
    align-items: center;
}

.box-3 {
    width: 250px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

#foto-perfil {
    border-radius: 100%;
    height: 50px;
}

#dropdown {
    padding: 3px 15px;
    border-radius: 4px;
    background-color: transparent;
}

.container {
    font-family: Arial, sans-serif;
    width: 90%;
    margin-left: 3%;
    padding: 20px 10px;
}

.analise .coluna_esquerda {
    width: 70%;
}

.analise .row {
    display: flex;
}


.imagem-video {
    position: absolute;
    width: 50%;
    top: 30%;
    left: 19%;
    color: white;
    line-height: 10px;
}


.box-button {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.button {
    display: block;
    padding: 10px 15px;
    background-color: #ED7839;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
}

.coluna_direita .detalhes {
    color: #461072;
    position: absolute;
    top: 30%;
    left: 75%;
    color: rgb(0, 0, 0);
    line-height: 15px;
    width: 17%;
    height: 10%;
    font-weight: bold;
    border: solid #807a7a44;
    background-color: #FDF1EB;
    font-size: 25px;
    border-radius: 4px;
}

.coluna_direita p {
    color: #461072;
    padding: 10px 15px;
}

.coluna_direita .descricao {
    color: #030303;
    top: 39.3%;
    left: 75%;
    width: 17%;
    height: 65%;
    line-height: 2.0;
    font-size: 16px;
    position: absolute;
    border: solid #807a7a44;
    font-family: Roboto;
    border-radius: 4px;
    overflow-y: auto;
}
